<div class="pokemon__grid">
  <div
    class="box"
    *ngFor="
      let pokemon of pokemons
        | paginate
          : { itemsPerPage: 10, currentPage: page, totalItems: totalPokemons }
    "
  >
    <div class="card__circle">
      <img
        class="pokemon__img"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
          pokemon.id
        }}.png"
        alt="pokemon"
      />
    </div>
    <div class="pokemon__info__container">
      <div class="pokemon__name">
        <h3>{{ pokemon.name.toUpperCase() }}</h3>
      </div>
    </div>
  </div>
</div>
<pagination-controls
  (pageChange)="page = $event; pokemons = []; getPokemons()"
></pagination-controls>
